#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
   display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:550px;
	z-index: 10;
}
#dialogbox > div { background:#FFF; margin:8px; }
#dialogbox >  #dialogheader{ background: #666; font-size:19px; padding:10px; color:#CCC; }  
#dialogbox >  #dialogbody{ background:#333;padding:20px;  color:#FFF; }
#dialogbox >  #dialogfooter{ background: #666; padding:10px; text-align:right; }
