div>a{background:#B9E1FF;color: #000;padding: 10px;text-decoration: none;border-radius: 10px;font-family: arial black, Gadget,sans-serif; }
div>a:hover{background: #BEEA00;}
div>a:active{background: #EEFFA8;}




